@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
.showcase {
    position:absolute;
    right: 0;
    width:100%;
    min-height:100vh;
    padding: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background:#111 ;
    color: #fff;
    z-index:2;
    transition: all 1s ease-in-out;
}
.showcase.active {
    right: 300px;
    transition: all 1s ease-in-out;
}
.showcase>header{
    position:absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    }
    .logo>img{
         height: 20vh;
       width: 20vw;
    }
    .toggle{
        position: relative;
        width: 60px;
        height: 60px;
        background: url(Images/icons8-menu-bar-50.png);
        cursor: pointer;
        background-repeat:no-repeat;
        background-size: 30px ;
        filter: invert(1);
        background-position: center;
        }
        .toggle.active {
            background: url(Images/icons8-close-50.png);
            background-repeat:no-repeat;
            background-size: 30px ;
            background-repeat: no-repeat;
            align-items: center;
        }
        .showcase>img{
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            object-fit: cover;
            opacity: 0.7;
         }
         .text{
            position: relative;
            z-index: 1;
           top: 30px;
           bottom: 30px;
        }
        .overlay{
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: rgba(44, 43, 43, 0.1);
        }
        .text h2{
            font-size: 4rem;
            font-weight: 800;
            text-transform: uppercase;
            text-shadow: 10px 10px 10px 
           rgb(84, 46, 141);
        }
        .text h2>span{
            font-size: 4rem;
            font-weight: 800;
            text-transform: uppercase;
            text-shadow:10px 10px 10px
            rgb(84, 46, 141);
            transition: all 1s ease;
           
        }
        .text h2>span:hover{
            font-size: 4rem;
            font-weight: 700;
            text-transform: uppercase;
            color:   rgb(84, 46, 141);
            text-shadow:10px 10px 10px
            rgb(84, 46, 141);
            color:  rgb(84, 46, 141);
            
        }
        
        .text h3{
            font-size: 3rem;
            font-weight: 700;
            text-transform: uppercase;
            
        }
        .text h3>span{
            font-size: 3rem;
            font-weight: 700;
            text-transform: uppercase;
            text-shadow:10px 10px 10px
             rgb(84, 46, 141);
             transition: all 1s ease;
           
        }
        .text h3>span:hover{
            font-size: 3rem;
            font-weight: 600;
            text-transform: uppercase;
            text-shadow:10px 10px 10px
             rgb(84, 46, 141);
             color:   rgb(84, 46, 141) ;
            
        }
       
    .text p{
        font-size: 1.1em;
        font-weight: 400;
       margin-top: 10px;
        margin: 20px 0;
        max-width: 700px;
    }
    .text a{
        display: inline-block;
        padding: 10px 30px;
        background:rgb(84, 46, 141) ;
        color:white;
        text-decoration: none;
        font-size: 1.2em;
        font-weight: 600;
        text-transform: uppercase;
        border-radius: 5px;
        transition: all 1s ease-in-out;
        
        
    }
    .text a:hover{
        background:whitesmoke;
        color: rgb(84, 46, 141) ;
        letter-spacing: 3px;
        transform: translateY(10px) scale(1.2);
    }
     
   
    .social>li>a:hover{
        transform: scale(1.5)  translateY(-10px);
        filter: invert(1.5);
    }
    .menu{
        position: absolute;
        top: 0;
        right: 0;
    width: 250px; 
        height: 100vh;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: white;
    }
    .y>ul{
      display: inline-flex; 
      gap: 50px;
      list-style: none;
      justify-content: space-between;
      
    }
    .y{
        margin-bottom: 20px;
    }
    .y>ul>li{
        justify-content: space-between;
        font-size: 15px;
        font-weight: 200;
    }
    h4{
        font-size: 2rem;
        font-weight: 600;
        text-shadow: 10px 10px 10px rgb(84, 46, 141);
    }
    .menu>ul{
        position: relative;
        list-style: none;
    }
    .menu>ul>li>a{
        text-decoration: none;
        font-size: 1.5em;
        color:  rgb(84, 46, 141) ;;
        transition: all 1s ease;
    }
    .menu>ul>li>a:hover{
        background: rgb(84, 46, 141);
       padding: 10PX 10PX;
        border-radius: 20px;
        transform: translateX(30px);
        letter-spacing: 5px;
        color: #fff;
        text-transform: uppercase;
    }
    .menu>ul>li>a>span{
        background: rgb(84, 46, 141) ;
        padding: 10PX 10PX;
        border-radius: 20px;
        transform: translateX(30px);
        letter-spacing: 5px;
        color: #fff;
        text-transform: uppercase;
    }
    
    
    @media (max-width: 898px) {
    
        .showcase {
            padding: 50px;
        }
       
        .logo {
           width: 17vw;
           height: 3vh;
           text-align: center;
           top: 0;

        }
        .logo>img{
            width: 20vw;
            height: 10vh;
        }
        .toggle {
            width: 50px;
            height: 50px;
        }
        .text h2 {
            font-size: 2em;
        }
        .text h2>span {
            font-size: 1em;
        }
         .text h2>span:hover{
            font-size: 2rem;
            font-weight: 300;
            text-transform: uppercase;
            color:   rgb(84, 46, 141);
           
            color:  rgb(84, 46, 141);
            
        }

        .text h3 {
            font-size: 1.5em;
        }
    
        .text h3>span {
            font-size: 1em;
        }
        .text h3>span:hover{
            font-size: 1.5em;
            font-weight: 300;
            text-transform: uppercase;
            text-shadow:10px 10px 10px
             rgb(84, 46, 141);
             color:   rgb(84, 46, 141) ;
            
        }
        .text p {
            font-size: 1em;
        }
        .text a {
            font-size: 1em;
            padding: 8px 20px;
        }
        .text a:hover{
            background:whitesmoke;
            color: rgb(84, 46, 141);
            letter-spacing: 3px;
            transform: translateY(10px) scale(1.2);
        }

         
    }